@charset "UTF-8";
:root {
  --font-family: "Forum", sans-serif;
  --content-width: 1120px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --primary-color: #DBC88D;
  --secondary-color: #C7B479;
  --brown-color: #483632;
  --lightPrimary-color: #F2E9CF;
  --dark-color: #000000;
  --grey-color: #7C7C7C;
  --light-color: #fff;
  --blue-color: #B9E6FF;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Forum";
  src: url("../fonts/../fonts/ForumRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GothicA1";
  src: url("../fonts/../fonts/GothicA1-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: light;
}
@font-face {
  font-family: "GothicA1";
  src: url("../fonts/../fonts/GothicA1-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: light;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 11px 25px 12px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  border-radius: 8px;
  background-color: var(--primary-color);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.btn:hover {
  background-color: var(--secondary-color);
}

.callback-btn {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-decoration: underline;
  color: var(--grey-color);
  -webkit-transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  -o-transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
}
.callback-btn:hover {
  text-decoration: none;
  color: var(--dark-color);
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: rgba(72, 54, 50, 0.95);
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }
}

.breadcrumb {
  margin-top: 65px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px !important;
  background: none !important;
}
@media (max-width: 576px) {
  .breadcrumb {
    margin-top: 40px;
  }
}

.breadcrumb-item > a,
.breadcrumb-item.active {
  color: #000000;
  text-decoration: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.breadcrumb > li + li:before {
  content: "- " !important;
}

.breadcrumb-item > a {
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.breadcrumb-item > a:hover {
  color: var(--primary-color);
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0;
}
.header__content::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--dark-color);
}
.header .logo__img {
  margin-right: 10px;
  width: 74px;
  height: 74px;
}
.header .logo__descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--dark-color);
}
.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-bottom: 22px;
}
.header__location-img {
  margin-right: 5px;
}
.header__location-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.header__contacts-img {
  margin-right: 5px;
}
.header__contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 110%;
  letter-spacing: 0.05em;
}
.header__contacts-phone {
  font-size: 20px;
  text-decoration: none;
  color: var(--dark-color);
  -webkit-transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  -o-transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
}
.header__contacts-phone:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
.header__contacts-email {
  font-size: 16px;
  text-decoration: none;
  color: var(--dark-color);
  -webkit-transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  -o-transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
}
.header__contacts-email:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
.header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.header__schedule-img {
  margin-right: 7px;
}
.header__schedule-text {
  font-size: 18px;
  line-height: 125%;
  margin-bottom: 5px;
}
.header__col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  padding: 16px 0 17px 0;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .nav__item:not(:last-child) {
  margin-right: 52px;
}
.header .nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-color);
  text-decoration: none;
  -webkit-transition: -webkit-text-decoration 0.3s ease-in;
  transition: -webkit-text-decoration 0.3s ease-in;
  -o-transition: text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
}
.header .nav__link:hover {
  text-decoration: underline;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.social__item:hover {
  opacity: 0.7;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.hero__container-flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media (max-width: 576px) {
  .hero__container-flex-end {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 28px;
  }
}
.hero__descr {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .hero__descr {
    font-size: 18px;
    margin-bottom: 22px;
  }
}
.hero__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 768px) {
  .hero__img {
    opacity: 0.3;
  }
}
.hero__slider {
  position: relative;
  height: 592px;
}
@media (max-width: 768px) {
  .hero__slider {
    height: 450px;
  }
}

.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--light-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  border: 1px solid #7D7D7D !important;
}

.services {
  padding-top: 110px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .services {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .services {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.services__title {
  margin-bottom: 25px;
}
.services__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 38px;
}
@media (max-width: 992px) {
  .services__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    row-gap: 25px;
  }
}
@media (max-width: 576px) {
  .services__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  background-color: var(--lightPrimary-color);
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.services__item-content {
  padding: 40px 10px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.services__item-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 140px;
  height: 200px;
}
@media (max-width: 768px) {
  .services__item-img {
    width: 120px;
    height: 150px;
  }
}
.services__item-title {
  margin: 0;
  padding: 0;
}
.services__item-title--link {
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  color: var(--brown-color);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (max-width: 768px) {
  .services__item-title--link {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .services__item-title--link {
    font-size: 20px;
  }
}
.services__item-arrow svg path {
  fill: var(--brown-color);
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}

.services__item:hover {
  background-color: #E8DFC5;
}

.services__item:hover .services__item-title--link {
  color: var(--dark-color);
}

.services__item:hover .services__item-arrow svg path {
  fill: var(--dark-color);
}

.news {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: var(--blue-color);
}
@media (max-width: 768px) {
  .news {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .news {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.news .all__news {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: var(--grey-color);
}
@media (max-width: 768px) {
  .news .all__news {
    margin-bottom: 30px;
  }
}
.news .swiper-wrapper {
  margin-bottom: 30px;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 292px;
  border-radius: 10px;
  background-color: var(--light-color);
}
.news__item-img {
  width: 100%;
  height: 100%;
}
.news__item-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.news__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 24px 20px 24px;
}
.news__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: "GothicA1", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-color);
}
.news__item-descr {
  font-family: "GothicA1", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--dark-color);
  margin-bottom: 20px;
}
.news__item-arrow svg path {
  fill: var(--brown-color);
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
.news .slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}
.news .news__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 31px;
  height: 8px;
}
.news .news__slider-btn:not(:last-child) {
  margin-right: 5px;
}
.news .news__slider-btn--prev {
  background-image: url("../img/icon/prev.svg");
}
.news .news__slider-btn--next {
  background-image: url("../img/icon/next.svg");
}

.why-us {
  padding-top: 85px;
  padding-bottom: 85px;
}
@media (max-width: 768px) {
  .why-us {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .why-us {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.why-us__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .why-us__heading {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .why-us__heading {
    margin-bottom: 40px;
  }
}
.why-us__decor {
  margin-right: 15px;
}
.why-us__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 65px;
}
@media (max-width: 768px) {
  .why-us__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    row-gap: 45px;
  }
}
@media (max-width: 576px) {
  .why-us__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 35px;
  }
}
.why-us__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.why-us__item-img {
  margin-right: 24px;
  min-width: 40px;
  min-height: 40px;
}
.why-us__item-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.why-us__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--brown-color);
}

.team {
  padding-top: 85px;
  padding-bottom: 85px;
}
@media (max-width: 768px) {
  .team {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .team {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.team__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .team__heading {
    margin-bottom: 40px;
  }
}
.team__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 50px;
}
@media (max-width: 768px) {
  .team__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    row-gap: 40px;
  }
}
@media (max-width: 450px) {
  .team__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}
.team__item {
  text-align: center;
}
.team__item-img {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .team__item-img {
    margin-bottom: 15px;
  }
}
.team__item-img img {
  border-radius: 30px;
}
.team__item-name {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 120%;
}
@media (max-width: 768px) {
  .team__item-name {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.team__item-special {
  font-size: 18px;
  line-height: 100%;
}
@media (max-width: 768px) {
  .team__item-special {
    font-size: 16px;
  }
}

.contacts {
  padding-top: 85px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .contacts {
    padding-top: 50px;
  }
}
@media (max-width: 576px) {
  .contacts {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media (max-width: 900px) {
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.contacts__title {
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .contacts__title {
    margin-bottom: 30px;
  }
}
.contacts__col {
  width: 50%;
}
@media (max-width: 900px) {
  .contacts__col {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 390px) {
  .contacts__col {
    margin-bottom: 25px;
  }
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
@media (max-width: 900px) {
  .contacts__content {
    margin-bottom: 30px;
  }
}
@media (max-width: 390px) {
  .contacts__content {
    margin-bottom: 15px;
  }
}
.contacts__item {
  width: 100%;
}
.contacts__item:not(:last-child) {
  width: 50%;
}
@media (max-width: 390px) {
  .contacts__item:not(:last-child) {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .contacts__item:nth-child(2) {
    margin-top: 20px;
  }
}
.contacts__item:nth-child(3) {
  margin-top: 40px;
}
@media (max-width: 900px) {
  .contacts__item:nth-child(3) {
    margin-top: 20px;
  }
}
.contacts__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.015em;
  color: var(--dark-color);
}
@media (max-width: 768px) {
  .contacts__item-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
@media (max-width: 390px) {
  .contacts__item-title {
    margin-bottom: 5px;
  }
}
.contacts__item-title-address {
  margin-bottom: 5px;
}
@media (max-width: 390px) {
  .contacts__item-title-address {
    margin-bottom: 0;
  }
}
.contacts__item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 20px;
}
@media (max-width: 390px) {
  .contacts__item-text {
    margin-bottom: 10px;
  }
}
.contacts__item-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contacts__item-phone {
  font-size: 20px;
  text-decoration: none;
  color: var(--dark-color);
  -webkit-transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  -o-transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
}
.contacts__item-phone:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
.contacts__item-email {
  font-size: 16px;
  text-decoration: none;
  color: var(--dark-color);
  -webkit-transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  transition: color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  -o-transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, color 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
}
.contacts__item-email:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
.contacts__item-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.015em;
  color: #7C7C7C;
}
.contacts__item-schedule-day {
  text-align: right;
  margin-right: 32px;
}

.map {
  margin-right: -100px;
  width: 585px;
  height: 440px;
}
@media (max-width: 900px) {
  .map {
    margin: 0;
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 576px) {
  .map {
    height: 230px;
  }
}

.team__row {
  padding-top: 100px;
  padding-bottom: 100px;
  row-gap: 32px;
}
.team__specialist-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.team__specialist-info {
  text-align: center;
  padding: 12px 10px 14px 10px;
  background-color: #f7f7f7;
}
.team__specialist-name {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
}
.team__specialist-name--link {
  color: var(--black-color);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.team__specialist-name--link:hover {
  color: var(--primary-color);
}
.team__specialist-special {
  margin: 0;
  padding: 0;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: var(--grey-color);
}

.specialist__main {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
}
@media (max-width: 992px) {
  .specialist__main {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}
.specialist__main-content {
  margin-top: 40px;
}
@media (max-width: 992px) {
  .specialist__main-content {
    margin-top: 10px;
  }
}
.specialist__main-name {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
}
@media (max-width: 992px) {
  .specialist__main-name {
    margin-bottom: 20px;
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .specialist__main-name {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
.specialist__main-special {
  margin: 0;
  padding: 0;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  color: var(--grey-color);
}
@media (max-width: 992px) {
  .specialist__main-special {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .specialist__main-special {
    font-size: 20px;
  }
}
.specialist__main-img img {
  border-radius: 8px;
}
.specialist__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .specialist__row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    margin-bottom: 40px;
  }
}
.specialist__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
}
@media (max-width: 576px) {
  .specialist__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
.specialist__text {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
.specialist__text:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .specialist__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
.specialist__certificates {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 32px;
}
@media (max-width: 576px) {
  .specialist__certificates {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 20px;
  }
}
.specialist__portfolio-slider {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .specialist__portfolio-slider {
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .specialist__portfolio-slider {
    margin-bottom: 30px;
  }
}
.specialist__portfolio-slider .swiper-wrapper {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .specialist__portfolio-slider .swiper-wrapper {
    margin-bottom: 30px;
  }
}
.specialist__portfolio-item {
  position: relative;
}
.specialist__portfolio-text {
  position: absolute;
  content: "";
  left: 12px;
  bottom: 7px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: var(--light-color);
}
.specialist__portfolio-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}

.specialist-portfolio__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 31px;
  height: 8px;
}
.specialist-portfolio__slider-btn:not(:last-child) {
  margin-right: 5px;
}
.specialist-portfolio__slider-btn--prev {
  background-image: url("../img/icon/prev.svg");
}
.specialist-portfolio__slider-btn--next {
  background-image: url("../img/icon/next.svg");
}

.price__heading {
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .price__heading {
    margin-bottom: 35px;
  }
}
.price__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  color: var(--black-color);
}
@media (max-width: 768px) {
  .price__title {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .price__title {
    font-size: 30px;
  }
}
.price__text {
  margin: 0;
  padding: 0;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: var(--grey-color);
}
.price-breadcrumb {
  margin-top: 0;
}
.price__item:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .price__item:not(:last-child) {
    margin-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .price__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.price__item-title__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.price__item-title__decor-icon {
  min-width: 25px;
  min-height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
.price__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: "Forum", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 95.5%;
}
@media (max-width: 768px) {
  .price__item-title {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .price__item-title {
    font-size: 22px;
  }
}
.price__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 95.5%;
  color: var(--black-color);
}
@media (max-width: 768px) {
  .price__list-item {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .price__list-item {
    font-size: 17px;
  }
}
.price__list-item:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 576px) {
  .price__list-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.price__list-name {
  text-align: left;
}
.price__list-price {
  text-align: right;
  margin-left: 25px;
}
@media (max-width: 576px) {
  .price__list-price {
    margin-left: 15px;
  }
}
.price__mark {
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: var(--grey-color);
}
@media (max-width: 768px) {
  .price__mark {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .price__mark {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.left-line {
  width: 50%;
  height: 1px;
  background-color: #DBC88D;
}

.right-line {
  width: 50%;
  height: 1px;
  background-color: #DBC88D;
}

.center-line {
  margin: 0;
  margin-bottom: 35px;
  width: 100%;
  height: 1px;
  background-color: #DBC88D;
}
@media (max-width: 576px) {
  .center-line {
    margin-bottom: 20px;
  }
}

.documents__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  color: var(--black-color);
}
@media (max-width: 768px) {
  .documents__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .documents__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.documents__row {
  row-gap: 32px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .documents__row {
    row-gap: 25px;
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .documents__row {
    row-gap: 15px;
    margin-bottom: 40px;
  }
}
.documents__item {
  padding: 40px 32px 24px 32px;
  background-color: var(--blue-color);
}
@media (max-width: 768px) {
  .documents__item {
    padding: 35px 26px 24px 26px;
  }
}
@media (max-width: 576px) {
  .documents__item {
    padding: 25px 20px 20px 20px;
  }
}
.documents__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: var(--black-color);
}
@media (max-width: 576px) {
  .documents__item-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
.documents__item-link {
  display: block;
  text-align: right;
}
.documents__item-link svg path {
  fill: #5998BB;
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
.documents__item-link:hover svg path {
  fill: #3B7A9D;
}
.documents-breadcrumb {
  margin-top: 0;
}
/*# sourceMappingURL=main.css.map */
